table {
  width: 100%;
}

.filter-field {
  width: 100%;
}

.mat-column-photo {
  width: 200px;
}

.mat-column-fullname {
  width: 200px;
}

.mat-button-left-bottom-corner {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.add-icon {
  font-size: 40px;
  color: green;
}

.mat-row:hover {
  background-color: #dddddd;
  cursor: pointer;
}

mat-paginator {
  padding-right: 100px;
}
